.container {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
    width: 96%;
    height: 100%;
    margin: 0% 2% 0% 2%;
}

.currencyview-wrapper {
    width: 100%;
    height: 84%;
    display: flex;
    flex-direction: column;
}

.chartview-wrapper {
    width: 100%;
    height: 32%;
}

h2 {
    margin: 0;
    padding: 0;
}

@media (min-width: 720px) {
    .container {
        align-items: center;
        justify-content: center;
    }

    .currencyview-wrapper {
        width: 720px;
        flex-wrap: wrap;
        flex-direction: row;
        align-self: center;
    }

    .chartview-wrapper {
        max-width: 360px;
        height: 180px;
        align-self: center;
        margin: auto;
    }
}